body {
    font-family: 'Caveat', cursive;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.top-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.box-container{
    display: grid;
    width: 50%;
    height: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    background-color: black;
    border: .2rem solid black;
}
#box-container{
    display: grid;
    width: 50%;
    height: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (4, 1fr);
    background-color: black;
    border: .2rem solid black;
}
.red {
    background-color: red;
    grid-area: 1/1/5/2;
}
.blue {
    background-color: blue;
    grid-area: 1/2/5/4;
}
.yellow {
    background-color: yellow;
    grid-area: 1/4/5/5;
}
.introduction {
    display: block;
    text-align: center;
    margin: 50px 0;  
}
.introduction img {
    border-radius: 50%;
    height: 150px;
    border: .2rem solid lightblue;
}
h1 {
    font-family: 'Caveat', cursive;
    font-size: 5rem;
    color: lightblue;
}
span {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: black;
}
p {
    font-weight: 200;
    font-size: .8rem;
}
h2 {
    font-style: italic;
    color: lightblue;
}
#resume {
display: flex;
justify-content: center;
margin: 50px 0;
}
.resume-main {
    flex: ;
}
.card {
width: 45%;
text-align: left;
}
.right {
float: right;
}
.left {
float: left;
}
.tile-image {
float: left;
margin-right: 1rem;
}
ul {
    font-weight: 200;
    list-style: none;
    text-align: center;
}
button {
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}
button a {
    text-decoration: none;
    color: white;
}
.contact {
    margin-bottom: 100px;
}

@media (max-width: 680px) {
    .card {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .tile-image {
        width: 100%;
        object-fit: cover;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 4rem;
    }
}

